.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-image: url("./grey1.png");
  color:white;
  

}



#nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover,#nav6:hover,#nav7:hover,#nav8:hover{
  color:yellow !important;
  font-weight: 500;

}
button:hover{
  color:black !important;
  background-color: #f5d20e !important;
  font-weight: 600;
}
.card{
  border-radius: 10px;
  text-decoration:none;
  color:white;
}
.card:hover{
  transform:scale(1.05);
  -webkit-transition:all .5s;
  transition: all .5s;
  background-color: #f5d20e !important;
  
  color:black;
}

